// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.temperature {
  font-size: 30px;
}

.weather-container {
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.conditions {
  display: inline-block;
  font-size: 16px;
}

.temperature-container {
  margin-bottom: 10px;
}

a:link.back-link, a:visited.back-link {
  text-decoration: none;
  color: black;
}

a:hover.back-link {
  text-decoration: none;
  color: #454;
}

.search-form .alert {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 20px;
  margin-bottom: 0px;
}
